<!DOCTYPE html>
<html>
  <head>
    <title>DemoRails6Tailwind</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- The original sprockets one -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <!-- The tailwind one -->
    <%= stylesheet_link_tag "application.tailwind" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
